<div class="ui row">
    <div class="ui items">
        <div class="item">
            <div class="content">
                <a href="http://reddit.com/r/{{subreddit.name}}" target="_blank" class="header">r/{{subreddit.name}}</a>
                <div class="description">
                    <p>{{subreddit.public_description}}</p>
                    <div class="meta">
                        <span class="subs">{{subreddit.subscribers}} subscribers</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="ui row">
    <button {{action "getSubreddit"}} class="ui massive violet button">Random Subreddit</button>
</div>
